/* app.component.css */

main {
  padding-top: 72px;
  /* Fixed header height */
  min-height: 80vh;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    padding-top: 72px;
    /* Header matches desktop height or adjust if needed */
  }
}