<section class="landing-page">
  <!-- Federation Image Grid Section -->
  <div class="federation-container">
    <div class="image-gallery">
      <div class="image-container">
        <!-- Dynamic Federation Cards -->
        <div
          *ngFor="let federation of federations;"
          class="image-item"
          (click)="navigateToFederation(federation.url)"
        >
          <img
            [src]="'assets/' + federation.code + '.png'"
            [alt]="federation.title"
          />
          <div class="image-caption">
            <h3>{{ federation.title }}</h3>
            <p>
              <span *ngIf="federation.institutions != '0'">
                Institutions: {{ federation.institutions }} |
              </span>
              Data Records: {{ federation.records | number }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Description Section -->
    <div class="description">
      <h6 class="welcome">
      Welcome to the <br /> Medical Informatics Platform
      </h6>
      <br />
      <p>
        Collaborate across multiple hospitals to access medical data and use
        cutting-edge algorithms to analyze shared pathologies like dementia,
        mental health, and more.
      </p>
      <div class="actions">
        <button class="gradient-button" (click)="learnMore()">Learn More</button>
        <button class="gradient-button" (click)="getStarted()">Get Started</button>
      </div>
    </div>
  </div>

  <section class="info-section">
    <div class="info-card">
      <div class="info-icon">
        <i class="fas fa-database"></i>
      </div>
      <div class="info-content">
        <h2>Access to Medical Data</h2>
        <p>
          Explore tools that enable secure access to medical data from our federated network of hospitals. Gain insights while maintaining privacy and compliance.
        </p>
        <button class="cta-button">Learn More</button>
      </div>
    </div>

    <div class="info-card reverse">
      <div class="info-content">
        <h2>Algorithms</h2>
        <p>
          Leverage cutting-edge algorithms for analyzing medical data, including advanced tools for diagnosing pathologies like dementia or mental health conditions.
        </p>
        <button class="cta-button">Discover Tools</button>
      </div>
      <div class="info-icon">
        <i class="fas fa-brain"></i>
      </div>
    </div>
  </section>

  <!-- Call-to-Action Button -->
  <div class="cta" *ngIf="!isLoggedIn()">
    <button class="gradient-button" (click)="redirectToSignUp()">Create EBRAINS Account</button>
  </div>
</section>
