<div id="chart-container">
  <!-- Unified Toolbar -->
  <div id="toolbar">
    <div id="breadcrumbs">
      <app-breadcrumb
        [breadcrumbs]="breadcrumbPath"
        (breadcrumbClick)="handleBreadcrumbClick($event)"
      ></app-breadcrumb>
    </div>

    <div id="max-depth-container">
      <label for="maxDepth">Max Depth:</label>
      <select id="maxDepth" [(ngModel)]="maxDepth" (change)="onMaxDepthChange()">
        <option *ngFor="let depth of createArray(newAvailableDepths)" [value]="depth">
          {{ depth }}
        </option>
      </select>
    </div>

    <div id="search-bar-container">
      <app-search-bar
        *ngIf="dataModelHierarchy"
        [dataModelHierarchy]="dataModelHierarchy"
        (searchResultSelected)="onSearchResult($event)"
      ></app-search-bar>
    </div>
  </div>

  <!-- Chart or Error Template -->
  <ng-container *ngIf="!error; else errorTemplate">
    <div id="chart" style="width: 100%; height: 100%;"></div>
  </ng-container>
  <ng-template #errorTemplate>
    <div class="error-message">
      {{ error }}
    </div>
  </ng-template>

</div>
